html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

a {
  text-decoration: none;
}

@mixin reset-ul-li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-text;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.page-content {
  background-color: #eff1f5;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumbs {
  &__inner {
    padding-top: 30px;
  }

  &__item {
    display: inline-block;
    position: relative;

    & + & {
      padding-left: 24px;

      &::before {
        content: '/';
        position: absolute;
        left: 8px;
        color: #fff;
      }
    }

    &:last-child {
      .breadcrumbs__link {
        color: #bfcad7;
      }
    }
  }

  &__link {
    color: #fff;
  }
}
