@media (max-width: 1200px) {
  .create__search {
    max-width: 100%;
    &::before, &::after {
      width: calc(100% - 30px);
    }
    &::after {
      width: calc(100% - 60px);
    }
  }
  .sell__text {
    padding: 10px 15px;
  }
}
@media (max-width: 1180px) {
  .create__inner {
    padding-bottom: 0;
  }
  .create__search-form {
    min-width: 100%;
  }
  .create__search {
    min-height: 255px;
  }
  .create__form-input {
    width: 100%;
    border-radius: 3px;
  }
  .create__select-category {
    width: 100%;
    top: 70px;
    border-radius: 3px;
    border: 1px solid #d9dfe5;
    background-position: 98% 50%;
  }
  .create__form-btn {
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
  }
  .release-products__inner-box {
    justify-content: space-around;
  }
  .choose__box {
    justify-content: space-around;
  }
  .choose__item {
    margin: 20px 20px;
  }
  .clients__item {
    min-width: 90%;
  }
  .news__inner-box{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .news__item {
    margin: 10px 27px;
  }
  .sell__title {
    margin: 250px 20px 30px 20px;
    line-height: 30px;
  }
}
@media (max-width: 1100px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__col-address {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .features__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .features__item {
    margin: 20px;
  }
  .weekly-products__item {
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
  }
  .weekly-products__content {
    width: 100%;
  }
  .img-hover--big {
    height: 100%;
    min-width: 100%;
  }
}
@media (max-width: 940px) {
  .search__input {
    width: 260px;
  }
  .followers-feed__products-card {
    margin: 0 15px;
  }
  .followers-feed__item {
    width: 100%;
  }
  .products-card__item {
    min-width: 80%;
  }
  .products-card__img {
    min-width: 100%;
  }
  .products-card__img-content {
    width: 100%;
  }
  .img-hover {
    min-width: 100%;
  }
}
@media (max-width: 840px) {
  .menu__list {
    display: none;
  }
  .menu__btn {
    display: block;
    width: 30px;
    margin-top: 25px;
    cursor: pointer;
  }
  .menu__btn-strip {
    background-color: #555;
    height: 3px;
    & + & {
      margin-top: 5px;
    }
  }
  .sell {
    flex-wrap: wrap;
  }
  .guarantee__inner {
    flex-wrap: wrap;
  }
  .guarantee__item {
    width: 100%;
    margin: 15px 15px;
    padding-top: 210px;
    border: none;
  }
  .guarantee__text {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .header__seller {
    display: block;
    margin-left: 30px;
    padding: 5px 8px;
    // order: 1;
  }
}
@media (max-width: 768px) {
  .footer__inner {
    padding: 60px 0 50px;
    justify-content: space-around;
  }
  .footer__col-social {
    min-width: 100%;
    margin-top: 30px;
  }
  .clients__item {
    max-width: 50%;
  }
  .clients__text {
    padding: 0 30px;
  }
  .item-text {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .header__icons {
    max-width: 80px;
    padding-left: 30px;
    padding-right: 15px;
  }
  .header__icons {
    display: none;
  }
}
// @media (max-width: 640px) {
//   .clients__item {
//     max-width: 50%;
//   }
// }
@media (max-width: 630px) {
  .header__top {
    overflow: visible;
    justify-content: start;
  }
  .header__top-btn {
    display: block;
    width: 70px;
    height: 100px;
    background-color: #eef1f3;
    position: absolute;
    top: 0;
    right: 0;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: #7e8fa1;
    }
  }
  .header__user {
    margin-left: 40px;
    transition: all .5s;
    transform: translateX(220%);
    &.active {
      transform: translateX(0);
    }
  }
  .header__seller {
    display: none;
  }
  .menu__wrap {
    display: block;
    min-width: 100%;
  } 
  .menu__list {
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
  }
  .menu__item {
    display: block;
    max-height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid #d9dfe5;
    &:first-child {
      border-top: 1px solid #d9dfe5;
    }
    & + & {
      margin-left: 0;
    }
  }
  .menu__link {
    display: block;
    margin-top: 0;
  }
  .weekly-products__block {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .products-card__btn-basket {
    margin-left: 30px;
  }
  .weekly-products__star {
    width: 100%;
  }
  .rate-star {
    margin: 15px auto;
  }
  .advantages__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .advantages__item {
    margin: 15px 15px;
  }
  .sell__text {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 520px) {
  .footer__col {
    min-width: 100%;
  }
  .footer__col-menu {
    & + & {
      margin-top: 30px;
    }
  }
  .create__title,
  .create__subtitle {
    font-size: 40px;
  }
  .features {
    margin-bottom: 50px;
  }
  .features__title {
    margin-top: 180px;
  }
  .products-card__btn-like {
    margin-left: 30px;
  }
  .release-products {
    padding: 50px 0;
  }
  .products-card__img-content {
    width: 100%;
  }
  .clients__title {
    line-height: 40px;
  }
  .ready__inner {
    padding: 0 15px;
  }
}
@media (max-width: 470px) {
  .create__inner {
    padding-top: 70px;
  }
  .create__btn {
    display: block;
    margin-right: 0;
    margin-top: 20px;
  }
  .products-card__item {
    margin: 0px 15px;
  }
}
@media (max-width: 380px) {
  .social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .social-icon__item {
    min-width: 30%;
    margin-top: 15px;
    padding-left: 10px;
    & + & {
      margin-left: 0;
    }
  }
  .search__input {
    width: 200px;
    padding-right: 75px;
  }
}

@media (min-width: 840px) {
  .menu__list {
    display: block !important;
  }
}