@media (max-width: 1200px) {
  .create__search {
    max-width: 100%;
    &::before, &::after {
      width: calc(100% - 30px);
    }
    &::after {
      width: calc(100% - 60px);
    }
  }
  .sell__text {
    padding: 10px 15px;
  }
}
@media (max-width: 1180px) {
  .create__inner {
    padding-bottom: 0;
  }
  .create__search-form {
    min-width: 100%;
  }
  .create__search {
    min-height: 255px;
  }
  .create__form-input {
    width: 100%;
    border-radius: 3px;
  }
  .create__select-category {
    width: 100%;
    top: 70px;
    border-radius: 3px;
    border: 1px solid #d9dfe5;
    background-position: 98% 50%;
  }
  .create__form-btn {
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
  }
  .release-products__inner-box {
    .products-card__item {
      flex-basis: calc(50% - 30px);
    }
    .products-card__img {
      max-width: 100%;
    }
    .products-card__img-content {
      width: 100%;
    }
    .img-hover {
      min-width: 100%;
    }
  }
  .product-page__item.list {
    max-width: 75%;
  }
  .choose__box {
    justify-content: space-around;
  }
  .choose__item {
    margin: 20px 20px;
  }
  .clients__item {
    min-width: 90%;
  }
  .news__inner-box{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .news__item {
    margin: 10px 27px;
  }
  .sell__title {
    margin: 250px 20px 30px 20px;
    line-height: 30px;
  }
  .page__search-input {
    width: 100%;
  }
  .product-page__item.list .product-page__products-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__col-address {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .features__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .features__item {
    margin: 20px;
  }
  .weekly-products__item {
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
  }
  .weekly-products__content {
    width: 100%;
  }
  .img-hover--big {
    height: 100%;
    min-width: 100%;
  }
  .filter__price {
    right: 39%;
  }
  .filter__number {
    right: 14%;
  }
}
@media (max-width: 940px) {
  .search__input {
    width: 260px;
  }
  .followers-feed__products-card {
    margin: 0 15px;
  }
  .followers-feed__item {
    width: 100%;
  }
  // .products-card__item {
  //   min-width: 80%;
  // }
  .products-card__img {
    min-width: 100%;
  }
  .products-card__img-content {
    width: 100%;
  }
  .img-hover {
    min-width: 100%;
  }
  .filter {
    min-height: 215px;
  }
  .filter__price {
    min-width: 100%;
    top: 175%;
    left: 0;
    background-position: 97% 50%;
  }
  .filter__number {
    min-width: 100%;
    background-position: 97% 50%;
    top: 325%;
    left: 0;
  }
  .product-page__inner {
    flex-wrap: wrap;
  }
  .product-page__img {
    min-width: 100%;
  }
  .product-page__aside {
    min-width: 100%;
  }
}
@media (max-width: 900px) {
  .product-page__items {
    margin-left: -15px;
  }
  .product-page__item {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
    // min-width: 100%;
  }
  .product-page__img {
    min-width: 100%;
  }
}
@media (max-width: 840px) {
  .menu__list {
    display: none;
    z-index: 10;
  }
  .menu__btn {
    display: block;
    width: 30px;
    margin-top: 25px;
    cursor: pointer;
  }
  .menu__btn-strip {
    background-color: #555;
    height: 3px;
    width: 30px;
    & + & {
      margin-top: 5px;
    }
  }
  .menu__wrap {
    display: block;
    min-width: 100%;
  } 
  .menu__list {
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
  }
  .menu__item {
    display: block;
    max-height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid #d9dfe5;
    &:first-child {
      border-top: 1px solid #d9dfe5;
    }
    & + & {
      margin-left: 0;
    }
  }
  .menu__link {
    display: block;
    margin-top: 0;
  }
  .sell {
    flex-wrap: wrap;
  }
  .guarantee__inner {
    flex-wrap: wrap;
  }
  .guarantee__item {
    width: 100%;
    margin: 15px 15px;
    padding-top: 210px;
    border: none;
  }
  .guarantee__text {
    text-align: center;
  }
  .header__seller {
    display: block;
    margin-left: 11%;
  }
}
@media (max-width: 800px) {
  .release-products__inner-box {
    .products-card__item {
      flex-basis: 100%;
    }
  }
  .products-card__content {
    max-height: 219px;
  }
}
@media (max-width: 768px) {
  .footer__inner {
    padding: 60px 0 50px;
    justify-content: space-around;
  }
  .footer__col-social {
    min-width: 100%;
    margin-top: 30px;
  }
  .clients__item {
    max-width: 50%;
  }
  .clients__text {
    padding: 0 30px;
  }
  .item-text {
    width: 80%;
  }
}
@media (max-width: 730px) {
  .header__top {
    min-height: 100px;
  }
  .header__top-btn {
    display: block;
    width: 70px;
    height: 100px;
    background-color: #eef1f3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: #7e8fa1;
    }
  }
  .header__top-block {
    transition: all .5s;
    position: absolute;
    background-color: #eef1f3;
    max-height: 100px;
    right: 0;
    left: 100%;
    z-index: 2;
    // width: 0;

    &.active {
    left: 37%;  
    // width: 100%;  
    }
  }
  .header__icons {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__user {
    padding-left: 0;
  }
  .dropdown-menu--message {
    left: -145px;
    &::before {
      right: 56%;
    }
  }
  .dropdown-menu--cart {
    left: -210px;
    &::before {
      right: 42%;
    }
  }
}
@media (max-width: 690px) {
  .header__user {
    padding-right: 5%;
  }
  .header__top-block {
    &.active {
    left: 34%;   
    }
  }
  .header__img {
    width: 80%;
  }
  .header__icons {
    padding-left: 3%;
    padding-right: 3%;
  }
  .user__avatar {
    margin-right: 8%;
  }
  .ready__inner {
    padding: 0px 15px;
  }
}
@media (max-width: 630px) {
  .header__seller {
    display: none;
  }
  .weekly-products__block {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .products-card__btn-basket {
    margin-left: 30px;
  }
  .weekly-products__star {
    width: 100%;
  }
  .rate-star {
    margin: 15px auto;
  }
  .advantages__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .advantages__item {
    margin: 15px 15px;
  }
  .sell__text {
    margin-left: 20px;
    margin-right: 20px;
  }
  .page__search {
    padding: 0 15px;
  }
  .page__search-btn {
    margin-right: 15px;
  }
  .product-page__pagination {
    justify-content: start;
  }
  .pagination__list {
    padding-left: 10px;
  }
  .page__text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 600px) {
  .product-page__items {
    margin-left: -15px;
  }
  .product-page__item {
    flex-basis: calc(100% - 20px);
    margin-left: 20px;
  }
  .product-page__img {
    min-width: 100%;
  }
}
@media (max-width: 520px) {
  .footer__col {
    min-width: 100%;
  }
  .footer__col-menu {
    & + & {
      margin-top: 30px;
    }
  }
  .create__title,
  .create__subtitle {
    font-size: 40px;
  }
  .features {
    margin-bottom: 50px;
  }
  .features__title {
    margin-top: 180px;
  }
  .products-card__btn-like {
    margin-left: 30px;
  }
  .release-products {
    padding: 50px 0;
  }
  .release-products__inner-box {
    padding: 10px;
  }
  .products-card__img-content {
    width: 100%;
  }
  .release-products__title {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .clients__title {
    line-height: 40px;
  }
  .ready__inner {
    padding: 0 15px;
  }
  .header__img {
    width: 60%;
  }
  .header__top-block {
    padding-right: 10px;
    &.active {
    left: 31%;    
    }
  }
  .dropdown-menu--notification {
    left: -86px;
    &::before {
      left: 86px;
    }
  }
  .header__logo {
    margin-left: 90px;
  }
  .header__top-block {
    &.active {
    left: 20%;   
    }
  }
  .filter__box {
    flex-wrap: wrap;
  }
  .filter__buttons {
    margin-top: 15px;
    margin-right: auto;
  }
  .filter {
    min-height: 240px;
  }
  .filter__price {
    padding-right: 15px;
    margin-right: 0;
    top: 175%;
    left: 2%;
    min-width: 98%;
  }
  .filter__number {
    padding-right: 15px;
    margin-right: 0;
    top: 290%;
    left: 2%;
    min-width: 98%;
  }
}
@media (max-width: 470px) {
  .create__inner {
    padding-top: 70px;
  }
  .create__btn {
    display: block;
    margin-right: 0;
    margin-top: 20px;
  }
  .products-card__item {
    margin: 0px 15px;
  }
  .header__top-btn {
    width: 50px;
    &::before {
      font-size: 30px;
    }
  }
  .header__top-block {
    padding-right: 10px;
    &.active {
    left: 22%;    
    }
  }
  .filter {
    min-height: 285px;
  }
  .filter__price {
    top: 132%;
    left: 2%;
  }
  .filter__number {
    top: 181%;
    left: 2%;
  }
  .filter__btn {
    width: 100%;
    text-align: left;
    &:first-child {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .filter__buttons {
    width: 100%;
    margin-left: 2%;
    text-align: left;
  }
  .product-page__items {
    padding: 0 15px;
  }
  .products-card__item {
    margin-bottom: 20px;
  }
  .pagination__item {
    margin-bottom: 15px;
  }
}
@media (max-width: 410px) {
  .header__top-block {
    &.active {
    left: 5%;   
    }
  }
}
@media (max-width: 380px) {
  .social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .social-icon__item {
    min-width: 30%;
    margin-top: 15px;
    padding-left: 10px;
    & + & {
      margin-left: 0;
    }
  }
  .search__input {
    width: 200px;
    padding-right: 75px;
  }
  .user__name {
    font-size: 12px;
  }
  .user__avatar {
    width: 35px;
    height: 35px;
  }
  .img-hover__btn {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 15px;
  }
  .products-card__title {
    font-size: 16px;
    line-height: 22px;
  }
  .products-card__content {
    max-height: 232px;
  }
}

@media (min-width: 840px) {
  .menu__list {
    display: block !important;
  }
}