@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header {
  background-color: #eef1f3;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__box {
  display: inline-block;
}

.header-seller {
  height: 36px;
  margin-top: 10px;
  margin-left: auto;
  padding: 8px 18px;
  color: #fff;
  background-color: #0674ec;
  border-radius: 18px;
  text-decoration: none;
  text-align: center;
  transition: all 1s;

  &:hover {
    background-color: #288dfc;
  }
}

.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 217px;
  padding-left: 57px;
  padding-right: 30px;
}

.header-icon {
  display: block;
  border-radius: 12px;
  color: #fff;
  position: relative;
  font-weight: 700;
  transition: all 0.7s;
}

.header__alarm {
  background-color: #ff6a6c;
  padding:3px 6px;
  
  &:hover {
    background-color: #f89697;
  }
}

.header__message {
  background-color: #62d03b;
  padding:3px 9px;
  
  &:hover {
    background-color: #81e25f;
  }
}

.header__basket {
  background-color: #0674ec;
  padding:3px 9px;

  &:hover {
    background-color: #4e9cf1;
  }
}

.header__alarm-img, 
.header__message-img,
.header__basket-img {
  position: absolute;
  left: -7px;
  bottom: -14px;
}

.header__basket-img {
  bottom: -17px;
}

.header__client {
  display: flex;
  
  .client-avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 22px;
  }
  
  .client-name {
    padding-top: 8px;
    color: $color-menu;
    font-weight: 700;
  }

  .client-sum {
    margin: 0;
    color: $text;
    padding-bottom: 8px;
  }
}
// end header

// start header__menu
.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
  height: 80px;

  .menu__item {
    display: inline-block;

    & + .menu__item {
      margin-left: 30px;
    }
  }

  .menu__link {
    font-family: 'Quicksand-Medium', sans-serif;
    color: $color-menu;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 1s;

    &:hover {
      text-decoration: underline;
    }
  }
}

.search {
  max-width: 360px;
  position: relative;

  .search__input {
    display: block;
    width: 360px;
    height: 46px;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    outline: transparent;
    padding-left: 27px;
    font-size: 15px;
    line-height: 30px;
    transition: all 1s;

    &:hover {
      border: 1px solid #b1afaf;
    }
    &:focus {
      border: 1px solid #7ab7f9;
    }
    &::placeholder {
      color: #898f96;
    }
  }

  .search__btn {
    position: absolute;
    background-color: #0674ec;
    box-shadow: none;
    border: none;
    border-radius: 23px;
    padding: 15px 25px;
    width: 70px;
    height: 46px;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    outline: transparent;
    transition: all 1s;

    &:hover {
      background-color: #288dfc;
    }
  }
}
// end header__menu

// start section digital
.digital {
  min-height: 725px;
  margin-bottom: 186px;

  &__inner {
    padding: 185px 0 50px;
    font-size: 60px;
    color: #fff;
    line-height: 70px;
    text-align: center;

    &--title {
      margin-bottom: 20px;
    }
    &--subtitle {
      font-family: 'Quicksand-Bold';
    }
    &--text {
      font-size: 20px;
      margin-bottom: 72px;
    }
  }
}

.btn-bg-transparent {
  display: inline-block;
  border-radius: 27px;
  padding: 17px 31px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.digital__box {
  height: 55px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 90px;

  .digital__btn {
    margin-right: 31px;
    transition: all 1s;

    &:last-child {
      margin-right: 0;
    }
  }

  .digital__btn:hover {
    background-color: #fff;
    color: $text;
  }
}

.digital__search {
  width: 1140px;
  height: 135px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  padding: 40px 40px;
  z-index: 8;
  transform:  translateY(50%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

  &::before {
    content: "";
    width: 1110px;
    height: 135px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: 15px;
    z-index: 2; 
  }

  &::after {
    content: "";
    width: 1080px;
    height: 135px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: absolute;
    top: -30px;
    right: 30px;
    z-index: 1;
  }
}

.search__element {
  max-width: 807px;
  height: 55px;
  position: relative;
  z-index: 10;
}

.element-input {
  display: block;
  width: 100%;
  height: 55px;
  border: 1px solid #d9dfe5;
  border-radius: 10px;
  outline: transparent;
  padding-left: 27px;
  font-size: 15px;
  line-height: 30px;
  transition: all 1s;

  &:hover {
    border: 1px solid #b1afaf;
  }
  &:focus {
    border: 1px solid #7ab7f9;
  }
  &::placeholder {
    color: #898f96;
  }
}

.element-btn {
  position: absolute;
  background-color: #0674ec;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  padding: 21px 67px;
  width: 223px;
  height: 55px;
  top: 0;
  right: -253px;
  z-index: 5;
  cursor: pointer;
  outline: transparent;
  color: #fff;
  transition: all 1s;

  &:hover {
    background-color: #288dfc;
  }
}
// end section digital

.title {
  font-family: 'Quicksand-Medium';
  color: #000;
  font-size: 24px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.author, 
.category {
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.author {
  font-weight: 700;
  margin-right: 20px;
  .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 7px;
  }
}

.price {
  border-radius: 15px;
  background-color: #e6f1fd;
  padding: 7px 20px;
  font-family: 'Quicksand-Medium';
  color: #0674ec;
  font-size: 15px;
  font-weight: 700;
}

.btn {
  padding: 8px 20px;
  border: none;
  height: 32px;
  border-radius: 16px;
  background-color: #f1f3f6;
  color: #747b86;
  font-size: 15px;
  outline: transparent;
  cursor: pointer;
}

.prod-title {
  height: 110px;
  margin-bottom: 50px;
  padding: 40px 29px;
  border-radius: 5px;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

// start section cart
.cart {
  margin-bottom: 121px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 360px;
    padding: 41px 30px 49px;
    text-align: center;
    left: 30px;
    transition: all 1s;

    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__img {
    display: block;
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 34px;
  }

  &__text {
    line-height: 30px;
  }
}
// end section cart

// start section featprod
.featprod {
  height: 850px;
  background-color: #eff1f5;
  position: relative;
  padding: 120px 0;
}

.featprod-item {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  min-height: 450px;
  margin-bottom: 120px;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  border-radius: 5px;
  
  &__img {
    display: block;
    max-width: 555px;

    img {
      display: block;
      width: 555px;
      height: 100%;
    }
  }

  &__content {
    padding: 40px 50px 24px;
    background-color: #fff;
  }
  
  &__category-img {
    margin-right: 10px;
    margin-left: 20px;
  }

  &__title {
    margin-bottom: 15px;
  }
  
  &__text {
    line-height: 30px;
    margin-bottom: 40px;
  }

  &__tags {
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
  }
  
  &__tags-link {
    margin-right: 7px;
    padding: 5px 16px;
    border: 1px solid #ececec;
    transition: all 1s;
    
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    min-height: 80px;
    padding: 24px 0;
  }

  &__basket {
    color: #0674ec;
  }

  &__like-img,
  &__basket-img {
    margin-right: 10px;
    margin-left: 20px;
  }

  &__star {
    margin-left: auto;
  }
}

.slick-arrow {
  width: 55px;
  height: 45px;
  background-color: #7347c1;
  outline: transparent;
  border: none;
}

.slick-prew {
  border-radius: 22px 0 0 22px;
  position: absolute;
  right: 85px;
  top: -128px;
}

.slick-next {
  border-radius: 0 22px 22px 0;
  position: absolute;
  top: -128px;
  right: 30px;
}
// end section featprod

// start section realprod
.relprod {
  padding: 100px 0 120px;
  background-color: #f6f7fb;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__filter {
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    margin-left: auto;
    margin-right: 30px;

    &__filter-points {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }
}

.filter-drop-down {
  display: none;
  width: 183px;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  padding: 27px 28px;
  border-radius: 5px;
  position: absolute;
  top: 85px;
  right: 5px;
  z-index: 20;

  &__item {
    display: block;
  }

  &__link {
    display: block;
    font-family: 'Quicksand-Regular', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: $color-text;

    &:hover {
      color: #0674ec;
    }
  }
}

.drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s;
}

.drop > img:hover + .filter-drop-down {
  display: block;
}

.filter-drop-down:hover {
  display: block;
}

.relprod__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.relprod__inner-btn {
  text-align: center;
  margin-bottom: 51px;
  padding: 30px 0;
  height: 92px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 5px;

  .relprod-btn {
    
    & + .relprod-btn {
      margin-left: 10px;
    }
    &.mixitup-control-active {
      background-color: #0674ec;
      color: #fff;
    }
  }
}

.relprod-item {
  display: flex;
  flex-direction: column;
  max-width: 361px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  position: relative;

  &__img {
    min-height: 230px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    position: relative;
  }

  &__content {
    padding: 30px 30px 38px;
    min-height: 237px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 23px;
  }
  
  &__text {
    line-height: 30px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ececec;
    min-height: 61px;
    padding: 15px 30px;
    margin-top: auto;
  }

  &__category-img {
    margin-right: 10px;
    margin-left: 20px;
  }
  
  &__basket {
    color: #0674ec;
    margin-left: auto;
  }

  &__basket-img,
  &__like-img {
    margin-right: 7px;
    margin-left: 15px;
  }
}

.rate-star {
  margin-left: 15px;
}

.img-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 361px;
  height: 230px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s;
  opacity: 0;
  background-image: linear-gradient(to right, #2d50d1, #092fba);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.relprod-item:hover .img-hover{
  opacity: 1;
}

.img-hover__btn {
  margin-right: 11px;
  transition: all 1s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #fff;
    color: $text;
  }
}

.relprod__bottom-btn {
  text-align: center;
  .relprod__button {
    margin-top: 30px;
    border: none;
    background-color: #0674ec;
    padding: 17px 33px;
    border-radius: 27px;
    color: #fff;
    line-height: 20px;
    outline: transparent;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      background-color: #288dfc;
    }
  }
}
// end section realprod




