@import 'fonts';
@import 'vars';
@import 'global';

// start header
.header {
  background-color: #eef1f3;

  &__menu {
    background-color: #fff;
  }

  &__logo {
    &:focus {
      outline-color: #87CEFA;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    max-height: 100px;
  }

  &__top-block {
    display: flex;
    align-items: center;
  }

  &__box {
    display: inline-block;
  }

  &__seller {
    margin-top: 10px;
    margin-left: auto;
    padding: 8px 15px;
    border-radius: 18px;        

    &:focus {
      outline-color: #87CEFA;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    max-width: 217px;
    padding: 0 30px 0px 57px;
  }

  &__icon {
    display: block;
    height: 100px;
    position: relative;
    transition: all 0.7s;
    color: #7e8fa1;
    font-family: 'Linearicons-Free';
    font-size: 21px;
    margin-top: 75px;
    margin-right: 15px;

    &::before {
      color: #7e8fa1;
    }

    &:focus {
      outline-color: #87CEFA;
      height: 30px;
    }

    &.lnr-cart {
      margin-right: 0;
    }
  }

  &__circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    position: absolute;
    top: -16px;
    right: -3px;
  }
  
  &__link {
    &::before {
      padding-right: 14px;
      font-family: 'Linearicons-Free';
    }
  }

  &__top-btn {
    display: none;
  }
  // ----dropdown-basket-----//
  &__info {
    display: flex;
    max-width: 400px;
    border-bottom: 1px solid #e8ebf0;
    padding: 0 25px 25px;
    margin-bottom: 25px;
  }

  &__dropdown-link {
    display: block;
  }

  &__dropdown-img {
    display: block;
    width: 80px;
    height: 100%;
    margin-right: 15px;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__trash-btn {
    position: absolute;
    top: -55px;
    left: 116px;
  }

  &__price {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    display: block;
    max-width: 180px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    &:hover {
      color: #0674ec;
    }
  }

  &__category-img {
    margin-right: 5px;
  }

  &__sum {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #000;
  }

  &__sum-total {
    margin-left: 30px;
  }

  &__dropdown-btn {
    display: flex;
    justify-content: space-between;
  }

  &__cart-btn {
    display: block;
    width: 50%;
    text-align: center;
    padding: 21px 0;
    background-color: #7347c1;
    color: #fff;
    border-radius: 0 0 0 3px;
    &:hover {
      background-color: #8e5ae9;
    }

    &--checkout {
      background-color: #0674ec;
      border-radius: 0 0 3px 0;
      &:hover {
        background-color: #3a96f8;
      }
    }
  }
  // ------dropdown-message----- //
  &__item {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    border-bottom: 1px solid #e8ebf0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__item-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &__dropdown-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }

  &__envelope-btn {
    display: block;
    width: 20px;
    height: 15px;
    background-color: #fff;
    border: none;
    margin-left: 13px;
    position: relative;
    cursor: pointer;

    &::before {
      color: #0674ec;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__author-name {
    color: #000;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;

    &:hover {
      color: rgb(85, 83, 83);
    }
  }

  &__link-data {
    display: block;
    margin-left: auto;
  }

  &__time {
    font-size: 14px;
    color: #747a86;
  }

  &__text {
    min-width: 100%;
    font-size: 15px;
    color: #555;
    height: 22px;
    overflow: hidden;
  }

  // ------dropdown-notification----- //
  &__item-block {
    display: flex;
    flex-direction: column;
    max-width: 230px;
  }

  &__btn {
    margin-left: auto;
  }

  &__text-themes {
    display: block;
    line-height: 25px;
    margin-bottom: 5px;
    color: #0674ec;

    &:hover {
      text-decoration: underline;
    }
  }
}

.circle-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #f1ecf9;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    background-color: transparent;
    border: 1px solid #747b86;
  }

  &--heart {
    background-color: #e6f1fd;
    color: #0674ec;
    &:hover {
      border: 1px solid #0674ec;
    }
  }

  &--bubble {
    background-color: #f1ecf9;
    color: #7347c1;
    &:hover {
      border: 1px solid #7347c1;
    }
  }

  &--cart {
    background-color: #fff0f0;
    color: #ff6a6c;
    &:hover {
      border: 1px solid #ff6a6c;
    }
  }

  &--star {
    background-color: #effaeb;
    color: #62d03a;
    &:hover {
      border: 1px solid #62d03a;
    }
  }
}
.current {
  color: #0674ec;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 21px;
  border-bottom: 1px solid #e8ebf0;
  &__title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
  }
  &__link-view-all {
    color: #0674ec;
    &:hover {
      text-decoration: underline;
    }
  }
}

.alarm {
  background-color: #ff6a6c;
  &:hover {
    background-color: #f89697;
  }
}

.message {
  background-color: #62d03b;
  &:hover {
    background-color: #81e25f;
  }
}

.cart {
  background-color: #0674ec;
  &:hover {
    background-color: #4e9cf1;
  }
}

.user {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0 15px;

  &:focus {
    outline-color: #87CEFA;
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 22px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    color: $color-menu;
    font-weight: 700;
  }

  &__sum {
    margin: 0;
    color: $text;
    padding-bottom: 8px;
    font-weight: 700;
  }
}

.menu {
  &__inner {
    display: flex;
    // justify-content: space-between;
    position: relative;
    min-height: 80px;
  }

  &__list {
    display: block;
    @include reset-ul-li;
  }

  &__item {
    display: inline-block;
    height: 80px;

    & + & {
      margin-left: 21px;
    }
  }

  &__link {
    display: block;
    height: 80px;
    margin-top: 32px;
    color: $color-menu;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.5s;

    &:hover {
      color: #0674ec;
    }

    &:focus {
      height: 25px;
      outline-color: #87CEFA;
    }
  }

  &__dropdown-home,
  &__dropdown-allproducts,
  &__dropdown-wordpress {
    width: 270px;
  }

  &__dropdown-pages {
    min-width: 1140px;
  }
}

.search {
  max-width: 360px;
  position: absolute;
  top: 17px;
  right: 7px;

  &__input {
    display: block;
    width: 360px;
    height: 46px;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    outline: transparent;
    padding-left: 27px;
    padding-right: 85px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    line-height: 30px;
    transition: all 1s;

    &::placeholder {
      color: #898f96;
    }

    &:hover {
      border: 1px solid #b1afaf;
    }

    &:focus {
      border: 1px solid #7ab7f9;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0674ec;
    color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 23px;
    padding: 15px 25px;
    width: 70px;
    height: 46px;
    top: 0;
    right: 0;
    // z-index: 2;
    cursor: pointer;
    outline: transparent;
    transition: all 1s;

    &:hover {
      background-color: #288dfc;
    }

    &:focus {
      border: 2px solid #000;
    }
  }
}

.dropdown-menu {
  height: 0;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  padding: 0 27px;
  border-radius: 0 0 3px 3px;
  border-top: 0px solid #0674ec;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 20;
  overflow: hidden;
  transition: all 0.7s;
  @include reset-ul-li;

  &__item {
    display: block;
  }

  &__link {
    display: block;
    max-width: 230px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 15px;
    line-height: 44px;
    color: #54667a;

    &:hover {
      background-color: #0674ec;
      color: #fff;
    }
    &:focus {
      outline-color: #87CEFA;
    }
  }

  &__subtitle {
    font-weight: 500;
    color: #000;
    padding: 0 25px 21px 10px;
    border-bottom: 1px solid #e8ebf0;
  }

  &__item-submenu {
    display: inline-block;
    min-width: 35%;
    margin-right: 3%;
    &:last-child {
      margin-right: 0;
    }

    &--middle {
      min-width: 20%;
    }
  }

  &__submenu-list {
    max-height: 530px;
    @include reset-ul-li;
    margin-top: 35px;
    display: flex;
    flex-flow: column wrap;
  }

  &__subitem {
    margin-right: 3%;
  }

  &__link-submenu {
    display: block;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 15px;
    line-height: 44px;
    color: #54667a;

    &:hover {
      background-color: #0674ec;
      color: #fff;
    }
    &:focus {
      outline-color: #87CEFA;
    }
  }

  &--user,
  &--cart,
  &--message {
    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      top: -10px;
      right: 30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #0674ec transparent;
    }
  }

  &--user {
    width: 270px;
    top: 100px;
    left: -90px;
  }
  
  &--notification {
    top: 100px;
    right: -90px;
    
    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      top: -10px;
      left: 30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #0674ec transparent;
    }
  }

  &--cart {
    width: 400px;
    top: 137px;
    left: -348px;
  }

  &--message {
    width: 370px;
    top: 137px;
    left: -321px;
  }

  &--notification {
    width: 370px;
    top: 137px;
    left: -29px;
  }

  &--pages {
    top: 48px;
    left: -442px;
  }
}

.dropdown {
  position: relative;
  transition: all 0.5s;
  
  &:hover {
    .dropdown-menu,
    .dropdown-menu--user {
      height: auto;
      border-width: 1px;
      padding: 27px;
      overflow: visible;
    }
    .dropdown-menu--cart,
    .dropdown-menu--message,
    .dropdown-menu--notification {
      height: auto;
      border-width: 1px;
      padding: 27px 0 0 0;
      overflow: visible;
    }
  }

  &:focus {
    border: 1px solid #54667a;
  }
}
// end header
// start section creat
.create {
  min-height: 725px;
  margin-bottom: 186px;
  background-color: #2b2b2b;
  background-image: linear-gradient(180deg, rgba(0, 48, 222, 0.8) 0%, rgba(23, 69, 237, 0.8) 54%, rgba(46, 90, 251, 0.8) 100%);

  &__inner {
    padding: 171px 0 50px;
    font-size: 60px;
    color: #fff;
    line-height: 70px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 43px;
  }

  &__box {
    height: 55px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 49px;
  }

  &__btn {
    padding: 17px 31px;
    margin-right: 31px;
    transition: all 1s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #fff;
      color: $text;
    }
  }

  &__search {
    width: 1140px;
    height: 135px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    padding: 40px 40px;
    z-index: 8;
    transform: translateY(50%);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

    &::before {
      content: "";
      width: 1110px;
      height: 135px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      position: absolute;
      top: -15px;
      right: 15px;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 1080px;
      height: 135px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      position: absolute;
      top: -30px;
      right: 30px;
      z-index: 1;
    }
  }

  &__search-form {
    max-width: 807px;
    height: 55px;
    position: relative;
    z-index: 10;
  }

  &__form-input {
    display: block;
    width: 611px;
    height: 55px;
    border: 1px solid #d9dfe5;
    border-radius: 4px 0 0 4px;
    position: absolute;
    top: 0;
    left: 0;
    outline: transparent;
    padding: 0 27px;
    font-size: 15px;
    line-height: 30px;
    transition: all 1s;

    &::placeholder {
      color: #898f96;
    }

    &:hover {
      border: 1px solid #b1afaf;
    }

    &:focus {
      border: 1px solid #7ab7f9;
    }
  }

  &__form-btn {
    position: absolute;
    background-color: #0674ec;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    padding: 19px 0;
    text-align: center;
    width: 223px;
    height: 55px;
    top: 0;
    right: -253px;
    z-index: 5;
    cursor: pointer;
    outline: transparent;
    color: #fff;
    transition: all 1s;

    &:hover {
      background-color: #288dfc;
    }

    &:focus {
      border: 2px solid #000;
    }
  }

  &__select-category {
    display: block;
    width: 196px;
    height: 55px;
    padding: 0 21px;
    background-image: url(../images/icons/lnr-chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    font-size: 15px;
    line-height: 30px;
    color: #898f96;
    border: 1px solid #d9dfe5;
    border-left: transparent;
    border-radius: 0 4px 4px 0;
    appearance: none;
    outline: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    &:hover {
      border: 1px solid #b1afaf;
      border-left: transparent;
    }

    &:focus {
      border: 1px solid #7ab7f9;
    }
  }
}
// end section creat
.speak {
  text-align: center;
  font-size: 0;
}

.title {
  font-family: 'Quicksand';
  font-weight: 500;
  color: #000;
  font-size: 24px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.author,
.category {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.author {
  font-weight: 700;
  color: #000;
  margin-right: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 7px;
}

.price {
  border-radius: 15px;
  background-color: #e6f1fd;
  padding: 7px 13px;
  color: #0674ec;
  font-size: 15px;
  font-weight: 500;
}

.btn {
  display: inline-block;
  border-radius: 27px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 1s;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: $text;
  }

  &--blue {
    color: #fff;
    background-color: #0674ec;
    border: 1px solid #0674ec;
  }

  &--gray {
    background-color: #f1f3f6;
    color: #747b86;
    padding: 8px 20px;

    &:hover {
      background-color: transparent;
      border: 1px solid #747b86;
      color: #747b86;
    }
  }

  &--white {
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    color: #0674ec;
    padding: 17px 30px;

    &:hover {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
  }

  &--violet {
    color: #7347c1;
  }
}

.prod-title {
  height: 110px;
  margin-bottom: 50px;
  padding: 40px 175px 0 29px;
  border-radius: 4px;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
// start section features
.features {
  margin-bottom: 116px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 360px;
    min-height: 408px;
    padding: 35px 30px 49px;
    text-align: center;
    left: 30px;
    transition: all 1s;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &--best::before {
      content: "";
      width: 113px;
      height: 120px;
      background-image: url(../images/cart/cart1.png);
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      // left: 120px;
      z-index: 2;
    }

    &--fully::before {
      content: "";
      width: 113px;
      height: 120px;
      background-image: url(../images/cart/cart2.png);
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      // left: 120px;
      z-index: 2;
    }

    &--buy::before {
      content: "";
      width: 113px;
      height: 120px;
      background-image: url(../images/cart/cart1.png);
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      // left: 120px;
      z-index: 2;
    }
  }

  &__title {
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 24px;
  }

  &__text {
    line-height: 30px;
  }
}
// end section features
// start section weekly-products
.weekly-products {
  background-color: #eff1f5;
  position: relative;
  padding: 120px 0 92px 0;

  &__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #fff;
    // max-width: 1140px;
    max-width: 100%;
    min-height: 450px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-radius: 5px;
  }

  &__img {
    display: block;
    // max-width: 555px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s;

    &:hover .img-hover--big {
      opacity: 1;
    }
  }

  &__img-prod {
    display: inline-block;
    // width: 555px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__content {
    display: block;
    width: 50%;
    // min-width: 586px;
    padding: 50px 50px 0;
    background-color: #fff;
  }

  &__category {
    position: relative;
    padding-left: 25px;
    margin-right: 10px;

    &::before {
      content: url(../images/icons/wp.svg);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__item-title {
    display: block;
    margin-bottom: 20px;
    line-height: 30px;
    max-height: 35px;
    overflow: hidden;
  }

  &__text {
    line-height: 30px;
    margin-bottom: 40px;
    max-height: 120px;
    overflow: hidden;
  }

  &__tags {
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
  }

  &__tags-link {
    margin-right: 7px;
    padding: 5px 16px;
    border: 1px solid #ececec;
    transition: all 1s;

    &:last-child {
      margin-right: 0;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    min-height: 80px;
    padding: 24px 0;
  }

  &__star {
    margin-left: auto;
  }
}

.slick-arrow {
  width: 55px;
  height: 45px;
  background-color: #7347c1;
  color: #fff;
  outline: transparent;
  border: none;
}

.slick-prew {
  border-radius: 22px 0 0 22px;
  position: absolute;
  right: 85px;
  top: -128px;
}

.slick-next {
  border-radius: 0 22px 22px 0;
  position: absolute;
  top: -128px;
  right: 30px;
}
// end section weekly-products
// start section release-products
.release-products {
  padding: 116px 0 120px;
  background-color: #f6f7fb;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 29px;
  }

  &__products-content {
    max-height: 213px;
    overflow: hidden;
  }

  &__filter-btn {
    background-color: #fff;
    min-height: 110px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    margin-left: auto;

    // &:hover + .filter-dropdown {
    //   display: block;
    // }

    // &:focus + .filter-dropdown {
    //   display: block;
    // }
  }

  .filter-dropdown {
    display: none;
    min-height: 185px;
    width: 183px;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    padding: 27px 28px;
    border-radius: 5px;
    position: absolute;
    top: 57px;
    right: 6px;
    z-index: 20;

    &__item {
      display: block;
    }

    &__link {
      display: block;
      font-size: 16px;
      line-height: 28px;
      color: $color-text;

      &:hover {
        color: #0674ec;
      }

      &:focus {
        color: #0674ec;
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      top: -14px;
      right: 16px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 17px 12px;
      border-color: transparent transparent #fff transparent;
      transition: all 1s;
    }

    &:hover {
      display: block;
    }

    &:focus {
      display: block;
    }
  }

  &__drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s;
  }

  &__filter-btn {
    padding-right: 30px;
    position: relative;

    &::after {
      content: url(../images/icons/points.svg);
      position: absolute;
      top: 47px;
      right: 0;
    }
  }

  &__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__inner-btn {
    text-align: center;
    margin-bottom: 30px;
    padding: 30px 15px;
    height: 92px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
  }

  &__btn {
    outline: transparent;
    &+.release-products__btn {
      margin-left: 10px;
    }

    &.mixitup-control-active {
      background-color: #0674ec;
      color: #fff;
    }
  }
}

.img-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  height: 230px;
  // border-radius: 5px 5px 0 0;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s;
  background-image: linear-gradient(-90deg, rgba(6, 116, 236, 0.9) 0%, rgba(61, 94, 215, 0.9) 46%, rgba(115, 71, 193, 0.9) 100%);
  opacity: 0;
  width: 100%;

  &--big {
    // max-width: 555px;
    min-width: 50%;
    height: 100%;
  }

  &__btn {
    margin-right: 11px;
    padding: 10px 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.products-card {
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    margin-bottom: 27px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }

  &__img {
    max-height: 230px;
    max-width: 360px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    position: relative;

    &:hover .img-hover {
      opacity: 1;
    }
  }

  &__img-content {
    width: 360px;
    height: 230px;
    border-radius: 4px 4px 0 0;
  }

  &__content {
    padding: 24px 30px 0;
    overflow: hidden;
    max-height: 210px;
  }

  &__title {
    display: block;
    font-size: 20px;
    margin-bottom: 11px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
    max-height: 65px;
    overflow: hidden;
  }

  &__text {
    line-height: 30px;
  }

  &__block {
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
    min-height: 61px;
    padding: 11px 30px;
    margin-top: 30px;
  }

  &__category-img {
    margin-right: 10px;
    margin-left: 20px;
  }

  &__basket {
    color: #0674ec;
    margin-left: auto;
    position: relative;
  }

  &__like {
    margin-left: 7px;
  }

  &__btn {
    height: 30px;
    margin-left: 3%;
    position: relative;
    background-color: #fff;
    font-size: 15px;
    color: #0674ec;
    border: none;
    padding: 5px 0 5px 18px;
    outline: transparent;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      color: #555;
    }

    &:focus {
      border: 2px solid #731aee;
    }
  }

  &__btn-basket {
    margin-left: auto;

    &::before {
      content: "\e82e";
      position: absolute;
      top: 6px;
      left: 0;
      font-family: 'Linearicons-Free';
    }
  }

  &__btn-like {
    color: #555;

    &::before {
      content: "\e813";
      color: #731aee;
      position: absolute;
      top: 6px;
      left: 0;
      font-family: 'Linearicons-Free';
    }
  }

  &__date {
    display: block;
    color: #555;
    padding-right: 45px;
    padding-left: 25px;
    margin-left: 0;
    border-right: 1px solid #eff1f5;

    &::before {
      content: "\e864";
      color: #0674ec;
      position: absolute;
      top: 6px;
      left: 0;
      font-family: 'Linearicons-Free';
    }
  }

  &__message {
    margin-left: auto;
    color: #555;
    padding-left: 20px;

    &::before {
      content: "\e83f";
      color: #555;
      position: absolute;
      top: 6px;
      left: 0;
      font-family: 'Linearicons-Free';
    }
  }

  &__views {
    margin-left: 30px;
    color: #555;
    padding-left: 20px;

    &::before {
      content: "\e81b";
      color: #555;
      position: absolute;
      top: 6px;
      left: 0;
      font-family: 'Linearicons-Free';
    }
  }
}

.rate-star {
  margin-left: 8px;
}

.bottom-btn {
  text-align: center;
 
  &__button {
    display: block;
    margin: 30px auto;
    padding: 17px 33px;
  }
}
// end section release-products
// start section followers-feed
.followers-feed {
  height: 930px;
  background-color: #eff1f5;
  position: relative;
  padding: 120px 0;

  &__item {
    margin-right: 30px;
  }

  &__btn-big {
    margin-right: 11px;
    padding: 10px 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  .prew-color,
  .next-color {
    background-color: #0674ec;
  }
}
// end section followers-feed
// start section advantages
.advantages {
  background-color: #212225;
  padding: 94px 0 83px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__item {
    max-width: 150px;
    text-align: center;
  }

  &__score {
    font-size: 36px;
    margin-top: 48px;
    margin-bottom: 20px;
    color: #feb71d;

    &--blue {
      color: #58c9e9;
    }

    &--green {
      color: #77de51;
    }

    &--red {
      color: #ff6a6d;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
  }

  .lnr-briefcase {
    font-size: 48px;
    color: #feb71d;
  }

  .lnr-cloud-download {
    font-size: 48px;
    color: #58c9e9;
  }

  .lnr-smile {
    font-size: 48px;
    color: #77de51;
  }

  .lnr-users {
    font-size: 48px;
    color: #ff6a6d;
  }
}
// end section advantages
.item-title {
  font-size: 36px;
  color: #000;
  text-align: center;
  margin-bottom: 37px;

  &__color-blue {
    color: #0674ec;
  }
}

.item-text {
  width: 677px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto 60px;
}
// start section choose
.choose {
  padding: 123px 0 97px;

  &__title {
    margin-bottom: 33px;
  }

  &__text {
    margin-bottom: 42px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 360px;
    text-align: center;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 17px;
  }

  &__number {
    font-size: 48px;
    line-height: 48px;
    color: rgba(92, 135, 248, .2);
    text-align: left;
    margin: 20px 0 0 20px;
  }

  &__block {
    padding: 0 32px 56px;
  }

  &__item-title {
    margin-top: 37px;
    margin-bottom: 26px;
  }

  &__item-text {
    line-height: 30px;
  }

  .lnr-icon {
    font-size: 60px;
  }
  
  .lnr-license {
    color: #0674ec;
  }
  
  .lnr-magic-wand {
    color: #885ac6;
  }
  
  .lnr-lock {
    color: #77de51;
  }
  
  .lnr-chart-bars {
    color: #feb71d;
  }
  
  .lnr-leaf {
    color: #63cdea;
  }
  
  .lnr-phone {
    color: #ff6a6d;
  }
}
// end section choose
// start section sell
.sell {
  display: flex;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    width: 100%;
    min-height: 561px;
    text-align: center;
    color: #fff;
    background-image: url(../images/content/sell-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
      content: url(../images/icons/sell.svg);
      position: absolute;
      top: 0;
      margin-top: 100px;
    }

    &--buy {
      background-image: url(../images/content/sell-2.jpg);

      &::before {
        content: url(../images/icons/buy.svg);
        position: absolute;
        top: 0;
        margin-top: 100px;
      }
    }
  }

  &__title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 580px;
    margin-bottom: 45px;
    line-height: 30px;
  }

  &__btn {
    margin-bottom: 100px;
  }
}
// end section sell
// start section clients
.clients {
  padding: 124px 0 120px;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__item {
    max-width: 555px;
    width: 100%;
    padding: 50px 40px 42px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin: 40px 30px 32px 0;
    border-left: 2px solid #0674ec;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__author {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-size: 20px;
      margin-bottom: 10px;
      color: #000;
      font-weight: 700;
    }
  }

  &__text-content {
    line-height: 30px;
    max-height: 114px;
    overflow: hidden;
  }

  .bubble {
    font-size: 60px;
    color: #e8e8e8;
  }

  .slick-arrow-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 14px;
    color: #2787ef;
    box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
    outline: transparent;
    border: none;
  }

  .slick-prew-white {
    position: absolute;
    left: -25px;
    top: 44%;
    z-index: 20;
  }

  .slick-next-white {
    position: absolute;
    top: 44%;
    right: -25px;
  }
}
// end section clients
// start section news
.news {
  padding: 123px 0 94px;
  background-color: #eff1f5;

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    margin-bottom: 54px;
  }

  &__img {
    display: block;
    max-height: 230px;
    cursor: pointer;
  }

  &__inner-box {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-height: 160px;
  }
}
// end section news
// start section guarantee
.guarantee {
  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: 297px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 60px 0;
    min-width: 50%;
    border-right: 1px solid #eff1f5;
    background-image: url(../images/icons/icon-1.png);
    background-repeat: no-repeat;
    background-position: center 60px;

    &--support {
      background-image: url(../images/icons/icon-2.png);
    }

    &:last-child {
      border: none;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
  }

  &__link {
    color: #0674ec;

    &--color {
      color: #7347c1;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
// end section guarantee
// start section ready
.ready {
  padding: 102px 0 110px;
  background-color: #000;
  background-image: linear-gradient(-90deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
  opacity: 0.902;

  &__inner {
    max-width: 526px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 22px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 50px;
  }

  &__btn {
    display: block;
    max-width: 190px;
    margin: 0 auto;
    border: 1px solid transparent;
  }
}
// end section ready
// start footer
.footer {
  &__content {
    background-color: #262b30;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 115px 0 98px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__col {
    max-width: 360px;
  }

  &__col-title {
    font-size: 18px;
    color: #fff;
    padding-top: 13px;
    margin-bottom: 30px;
  }

  &__col-list,
  &__social-list {
    @include reset-ul-li;
  }

  &__col-text,
  &__info,
  &__col-link {
    font-size: 15px;
    line-height: 30px;
    color: #ababab;
  }

  &__col-link:hover {
    text-decoration: underline;
  }

  &__col-text {
    margin-bottom: 4px;
  }

  &__info {
    display: block;
    margin-top: 10px;
    padding-left: 30px;
    position: relative;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: "\e830";
      font-family: 'Linearicons-Free';
      font-size: 16px;
      position: absolute;
      left: 0;
    }

    &--email {
      &::before {
        content: "\e818";
      }
    }

    &--address {
      &::before {
        content: "\e833";
        top: 15px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__address {
    font-style: normal;
  }

  &__col-menu {
    max-width: 135px;
  }

  &__copy {
    background-color: #192027;
  }

  &__copy-text {
    padding: 40px 0;
    text-align: center;
    color: #999;
    font-size: 15px;
  }

  &__copy-link {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form-email {
    margin-bottom: 48px;
    max-width: 360px;
    position: relative;
  }

  &__input {
    display: block;
    width: 100%;
    height: 46px;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    padding: 10px 120px 10px 30px;
    font-size: 15px;
    line-height: 30px;
    transition: all 1s;

    &:hover {
      border: 1px solid #b1afaf;
    }

    &:focus {
      border: 1px solid #7ab7f9;
    }

    &::placeholder {
      color: #898f96;
    }
  }

  &__btn {
    position: absolute;
    background-color: #0674ec;
    color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 23px;
    padding: 15px 25px;
    height: 46px;
    bottom: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      background-color: #288dfc;
    }

    &:focus {
      border: 2px solid #000;
    }
  }
}

.social-icon {
  @include reset-ul-li;

  &__item {
    display: inline-block;
    & + & {
      margin-left: 13px;
    }
  }

  &__link {
    display: block;
    width: 42px;
    height: 42px;
    background-color: #395799;
    border-radius: 50%;
    position: relative;

    &::before {
      content: "\f09a";
      font-family: 'icomoon';
      font-style: 15px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--twitter {
      background-color: #19b2f5;
      &::before {
        content: "\f099";
      }
    }
    &--google {
      background-color: #f05b44;
      &::before {
        content: "\f1a0";
      }
    }
    &--pinterest {
      background-color: #9c0c1c;
      &::before {
        content: "\f0d2";
      }
    }
    &--linkedin {
      background-color: #0da6be;
      &::before {
        content: "\f0e1";
      }
    }
    &--dribbble {
      background-color: #ea4c89;
      &::before {
        content: "\f17d";
      }
    }
  }
}
// end footer
// start new-items
.page {
  padding: 83px 0 30px;
  background-color: #6c6c6c;
  background-image: linear-gradient( -90deg, rgba(13,62,242,0.9) 0%, rgba(45,47,199,0.9) 46%, rgba(76,31,156,0.9) 100%);

  &__inner {
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  &__text {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 5px;
  }

  &__text-span {
    font-weight: 500;
  }

  &__search {
    max-width: 555px;
    position: relative;
    margin: 0 auto;
  }

  &__search-input {
    display: block;
    width: 555px;
    height: 55px;
    border: 1px solid #d9dfe5;
    border-radius: 27px;
    outline: transparent;
    padding-left: 27px;
    padding-right: 110px;
    font-size: 15px;
    line-height: 30px;
    transition: all 1s;

    &::placeholder {
      color: #898f96;
    }

    &:hover {
      border: 1px solid #b1afaf;
    }

    &:focus {
      border: 1px solid #7ab7f9;
    }
  }

  &__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0674ec;
    color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 27px;
    padding: 15px 25px;
    height: 55px;
    top: 26px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    outline: transparent;
    transition: all 1s;

    &:hover {
      background-color: #288dfc;
    }

    &:focus {
      border: 2px solid #000;
    }
  }
}
// end new-items

// start product-page
.product-page {
  background-color: #eff1f5;
  &__inner {
    display: flex;
    padding-bottom: 120px;
  }

  &__aside {
    margin-right: 30px;
  }
}

.filter {
  max-height: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  padding: 28px 0;
  margin-bottom: 80px;

  &__box {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  &__number,
  &__price {
    display: block;
    width: 220px;
    height: 44px;
    appearance: none;
    background-image: url(../images/icons/lnr-chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    border: 1px solid #d9dfe5;
    border-radius: 3px;
    margin-right: 30px;
    padding: 0 20px;
    font-size: 14px;
    color: #747b86;
    line-height: 30px;
    transition: all 1s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__price {
    right: 31%;
  }

  &__number {
    right: 10%;
  }

  &__btn {
    display: inline-block;
    color: #555;
    border: none;
    background-color: #fff;
    cursor: pointer;

    &:first-child {
      margin-right: 40px;
    }

    &:hover {
      color: #0674ec;
    }
  }

  &__buttons {
    height: 44px;
    padding: 11px 20px;
    border: 1px solid #d9dfe5;
    border-radius: 3px;
    margin-left: auto;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #acb0b6;

    &.active {
      color: #328def;
    }
  }
}

.aside {
  &__items {
    width: 263px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0px 32px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
    color: #010101;
    border-bottom: 1px solid #f3f3f8;
    padding: 30px 0 25px;
    position: relative;

    &::before {
      content: "\e874";
      color: #606060;
      font-size: 12px;
      font-family: 'Linearicons-Free';
      position: absolute;
      right: 0;
    }
  }

  &__list {
    @include  reset-ul-li;
    margin-top: 15px;
    padding-bottom: 37px;
    display: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0 10px 20px;
    &::before {
      content: url(../images/icons/circle.png);
      color: #747b86;
      font-size: 10px;
      font-family: 'Linearicons-Free';
      position: absolute;
      left: 0; }
    
    &--arrow {
      &::before {
        content: "\e876";
        color: #747b86;
        font-size: 10px;
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
      }
    }
  }

  &__number {
    color: #747b86;
    margin-left: 10px;
  }

  &__link {
    color: #555;
    &:hover {
      color: #0674ec;
    }
  }

  &__form-radio {
    display: none;
    margin-top: 15px;
    padding-bottom: 37px;
  }

  &__item-radio {
    padding: 10px 0;
  }

  &__radio-label {
    padding-left: 10px;
    &:hover {
      color: #0674ec;
    }
  }

  &__radio-input {
   cursor: pointer;
   &:checked + .aside__radio-label {
    color: #e91d6b;
   }
  }
}

.price-range {
  
  &__form {
    padding-top: 10px;
    padding-bottom: 37px;
    display: none;
  }

  &__btn {
    display: block;
    margin: 80px auto 0 auto;
    padding: 15px 30px;
    background-color: #0674ec;
    border-radius: 22px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background-color: #efedf3;
  height: 6px;
}

.irs--flat .irs-bar {
  background-color: #7347c1;
  height: 6px;
}

.irs--flat .irs-handle {
  width: 18px;
  height: 18px;
  border: 4px solid #0674ec;
  background-color: #fff;
  border-radius: 50%;
  top: 19px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from, .irs-single, .irs-to {
  top: 55px;
}

.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  color: #7347c1;
  font-size: 15px;
  text-shadow: none;
  padding: 8px 15px;
  background-color: #f1ecf9;
  border-radius: 16px;
}

.pagination {
  &__item {
    display: inline-block;
    & + .pagination__item {
      margin-left: 5px;
    }
  }

  &__link {
    display: block;
    padding: 8px 19px;
    height: 38px;
    background-color: #fff;
    color: #747b86;
    font-weight: 500;
    border-radius: 18px;
    transition: all 0.7s;
  }

  .active {
    background-color: #0674ec;
    color: #f3f3f8;
  }

  &__button {
    padding: 8px 19px;
    height: 38px;
    border-radius: 18px;
    border: none;
    background-color: #fff;
    margin-right: 20px;
    transition: all 0.7s;

    &:last-child {
      margin-right: 0;
      margin-left: 20px;
    }

    &:hover {
      background-color: #7347c1;
      color: #f6f3fb;
    }
  }
}

.product-page {
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 33px;
  }

  &__item {
    max-width: 262px;
  }

  &__img {
    max-width: 262px;
    max-height: 160px;
  }

  &__products-content {
    position: relative;
    min-height: 152px;
    padding-top: 20px;
  }

  &__title {
    margin: 0 0 18px 20px;
    max-width: 200px;
    font-size: 18px;
    line-height: 24px;
    max-height: 45px;
  }

  &__text {
    display: none;
    margin-left: 20px;
  }
  
  &__info {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__author {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  &__block {
    justify-content: space-between;
    min-width: 262px;
    padding: 11px 20px;
    margin-top: 15px;
  }

  &__star {
    margin-bottom: 0;
    padding-left: 20px;
  }

  &__btn-basket {
    position: absolute;
    bottom: 70px;
    right: 20px;
    transition: none;
  }

  &__message,
  &__btn-like {
    display: none;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
  }

  .rate-star.jq-ry-container {
    width: 100px;
    padding: 0;
    margin-left: 0;
  }

  .star {
    display: none;
  }
}

.product-page__item {
  &.list {
    flex-direction: row;
    max-width: 100%;
    .product-page__img {
      max-width: 230px;
      min-height: 100%;
      border-radius: 5px 0 0 5px;
    }
    .product-page__title {
      max-width: 240px;
      max-height: 45px;
      overflow: hidden;
      font-size: 18px;
      line-height: 24px;
      position: relative;
    }
    .product-page__text {
      display: block;
      max-width: 212px;
      height: 65px;
      line-height: 30px;
      overflow: hidden;
    }
    .product-page__products-content {
      min-width: 618px;
      position: relative;
    }
    .product-page__block {
      border-top: none;
      padding: 0;
    }
    .product-page__category {
      position: absolute;
      bottom: 30px;
      left: 0;
    }
    .product-page__author {
      max-width: 180px;
      padding-left: 0;
      margin-right: 0;
      position: absolute;
      top: 20%;
      left: 47%;
      &::after {
        content: "";
        width: 1px;
        height: 155px;
        position: absolute;
        background-color: #ececec;
        top: -15px;
        right: 0;
      }
      &::before {
        content: "";
        width: 1px;
        height: 155px;
        position: absolute;
        background-color: #ececec;
        top: -15px;
        left: -20px;
      }
    }
    .product-page__star {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 136px;
      padding-left: 0;
      position: absolute;
      bottom: 42px;
      left: 47%;
    }
    .star {
      display: block;
    }
    .product-page__btn-basket {
      max-width: 60px;
      margin-left: 0;
      position: absolute;
      bottom: 60px;
      right: 56px;
    }
    .product-page__message {
      display: block;
      position: absolute;
      top: 55%;
      left: 47%;
      &::before {
        color: #7f4ec2;
      }
    }
    .product-page__btn-like {
      display: block;
      margin-left: 0;
      position: absolute;
      top: 40%;
      left: 47%;
    }
    .product-page__price {
      position: absolute;
      width: 100px;
      text-align: center;
      top: 70px;
      right: 30px;
    }
  }
}
// end product-page

// .products__star {
//   background-image: url(../images/icons/iconmonstr-star-2.svg);
//   background-size: contain;
// }

@import 'media';