@import 'fonts';
@import 'vars';
@import 'global';

// // import Swiper styles
// @import '../../node_modules/swiper/swiper-bundle.css';

@import 'components/header';
@import 'components/header-bg';
@import 'components/menu';
@import 'components/products-card';
@import 'components/btn';
@import 'components/ready';
@import 'components/footer';

@import 'home-page';




// start new-items
.header-text {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  margin-top: 30px;
}
.page {
  padding: 83px 0 30px;

  &__inner {
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  &__text {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 5px;
  }

  &__text-span {
    font-weight: 500;
  }

  &__search {
    max-width: 555px;
    position: relative;
    margin: 0 auto 38px;
  }

  &__search-input {
    display: block;
    width: 555px;
    height: 55px;
    border: 1px solid #d9dfe5;
    border-radius: 27px;
    outline: transparent;
    padding-left: 27px;
    padding-right: 110px;
    font-size: 15px;
    line-height: 30px;
    transition: all 1s;

    &::placeholder {
      color: #898f96;
    }

    &:hover {
      border: 1px solid #b1afaf;
    }

    &:focus {
      border: 1px solid #7ab7f9;
    }
  }

  &__search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0674ec;
    color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 27px;
    padding: 15px 25px;
    height: 55px;
    top: 26px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    outline: transparent;
    transition: all 1s;

    &:hover {
      background-color: #288dfc;
    }

    &:focus {
      border: 2px solid #000;
    }
  }
}
// end new-items

// start product-page
.product-page {
  background-color: #eff1f5;
  &__inner {
    display: flex;
    padding-bottom: 120px;
  }

  &__aside {
    margin-right: 30px;
  }
}

.filter {
  max-height: 100px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  padding: 28px 0;
  margin-bottom: 80px;

  &__box {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  &__number,
  &__price {
    display: block;
    min-width: 220px;
    height: 44px;
    appearance: none;
    background-image: url(../images/icons/lnr-chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    border: 1px solid #d9dfe5;
    border-radius: 3px;
    margin-right: 30px;
    padding: 0 20px;
    font-size: 14px;
    color: #747b86;
    line-height: 30px;
    transition: all 1s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__price {
    right: 31%;
  }

  &__number {
    right: 10%;
  }

  &__btn {
    display: inline-block;
    color: #555;
    border: none;
    background-color: #fff;
    cursor: pointer;

    &:first-child {
      margin-right: 40px;
    }

    &:hover {
      color: #0674ec;
    }
  }

  &__buttons {
    height: 44px;
    padding: 11px 20px;
    border: 1px solid #d9dfe5;
    border-radius: 3px;
    margin-left: auto;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #acb0b6;

    &.active {
      color: #328def;
    }
  }
}

.aside {
  &__items {
    min-width: 263px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 0px 32px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
    color: #010101;
    border-bottom: 1px solid #f3f3f8;
    padding: 30px 0 25px;
    position: relative;

    &::before {
      content: "\e874";
      color: #606060;
      font-size: 12px;
      font-family: 'Linearicons-Free';
      position: absolute;
      right: 0;
    }
  }

  &__list {
    @include  reset-ul-li;
    margin-top: 15px;
    padding-bottom: 37px;
    display: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0 10px 20px;
    &::before {
      content: url(../images/icons/circle.png);
      color: #747b86;
      font-size: 10px;
      font-family: 'Linearicons-Free';
      position: absolute;
      left: 0; }
    
    &--arrow {
      &::before {
        content: "\e876";
        color: #747b86;
        font-size: 10px;
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 0;
      }
    }
  }

  &__number {
    color: #747b86;
    margin-left: 10px;
  }

  &__link {
    color: #555;
    &:hover {
      color: #0674ec;
    }
  }

  &__form-radio {
    display: none;
    margin-top: 15px;
    padding-bottom: 37px;
  }

  &__item-radio {
    padding: 10px 0;
  }

  &__radio-label {
    padding-left: 10px;
    &:hover {
      color: #0674ec;
    }
  }

  &__radio-input {
   cursor: pointer;
   &:checked + .aside__radio-label {
    color: #e91d6b;
   }
  }
}

.price-range {
  &__form {
    padding-top: 10px;
    padding-bottom: 37px;
    display: none;
  }
  &__btn {
    display: block;
    margin: 80px auto 0 auto;
    padding: 15px 30px;
    background-color: #0674ec;
    border-radius: 22px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background-color: #efedf3;
  height: 6px;
}

.irs--flat .irs-bar {
  background-color: #7347c1;
  height: 6px;
}

.irs--flat .irs-handle {
  width: 18px;
  height: 18px;
  border: 4px solid #0674ec;
  background-color: #fff;
  border-radius: 50%;
  top: 19px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from, .irs-single, .irs-to {
  top: 55px;
}

.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  color: #7347c1;
  font-size: 15px;
  text-shadow: none;
  padding: 8px 15px;
  background-color: #f1ecf9;
  border-radius: 16px;
}

.product-page {
  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 33px;
    margin-left: -30px;
  }

  &__item {
    flex-basis: calc(33.3333% - 30px);
    margin-left: 30px;
    // transition: all .5s;
  }

  &__img {
    max-width: 262px;
    max-height: 160px;
  }

  &__products-content {
    position: relative;
    min-height: 152px;
    padding-top: 20px;
  }

  &__title {
    margin: 0 0 18px 20px;
    max-width: 200px;
    font-size: 18px;
    line-height: 24px;
    max-height: 45px;
  }

  &__text {
    display: none;
    margin-left: 20px;
  }
  
  &__info {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__author {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  &__block {
    justify-content: space-between;
    min-width: 262px;
    padding: 11px 20px;
    margin-top: 15px;
  }

  &__star {
    margin-bottom: 0;
    padding-left: 20px;
  }

  &__btn-basket {
    position: absolute;
    bottom: 70px;
    right: 20px;
    transition: none;
  }

  &__message,
  &__btn-like {
    display: none;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
  }

  .rate-star.jq-ry-container {
    width: 100px;
    padding: 0;
    margin-left: 0;
  }

  .star {
    display: none;
  }
}

.product-page__item {
  &.list {
    flex-direction: row;
    max-width: 100%;
    flex-basis: 100%;
    .product-page__img {
      max-width: 230px;
      min-height: 100%;
      border-radius: 5px 0 0 5px;
    }
    .product-page__title {
      max-width: 240px;
      max-height: 45px;
      overflow: hidden;
      font-size: 18px;
      line-height: 24px;
      position: relative;
    }
    .product-page__text {
      display: block;
      max-width: 212px;
      height: 65px;
      line-height: 30px;
      overflow: hidden;
    }
    .product-page__products-content {
      min-width: 618px;
      position: relative;
    }
    .product-page__block {
      border-top: none;
      padding: 0;
    }
    .product-page__category {
      position: absolute;
      bottom: 30px;
      left: 0;
    }
    .product-page__author {
      max-width: 180px;
      padding-left: 0;
      margin-right: 0;
      position: absolute;
      top: 20%;
      left: 47%;
      &::after {
        content: "";
        width: 1px;
        height: 155px;
        position: absolute;
        background-color: #ececec;
        top: -15px;
        right: 0;
      }
      &::before {
        content: "";
        width: 1px;
        height: 155px;
        position: absolute;
        background-color: #ececec;
        top: -15px;
        left: -20px;
      }
    }
    .product-page__star {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 136px;
      padding-left: 0;
      position: absolute;
      bottom: 42px;
      left: 47%;
    }
    .star {
      display: block;
    }
    .product-page__btn-basket {
      max-width: 60px;
      margin-left: 0;
      position: absolute;
      bottom: 60px;
      right: 56px;
    }
    .product-page__message {
      display: block;
      position: absolute;
      top: 55%;
      left: 47%;
      &::before {
        color: #7f4ec2;
      }
    }
    .product-page__btn-like {
      display: block;
      margin-left: 0;
      position: absolute;
      top: 40%;
      left: 47%;
    }
    .product-page__price {
      position: absolute;
      width: 100px;
      text-align: center;
      top: 70px;
      right: 30px;
    }
  }
}
// end product-page

// .products__star {
//   background-image: url(../images/icons/iconmonstr-star-2.svg);
//   background-size: contain;
// }

.filter {
  &__text {
    max-width: 240px;
    max-height: 34px;
    overflow: hidden;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
}

.filter-favorites {
  &__list {
    min-width: 270px;
    padding: 25px;
  }

  .filter-dropdown {
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    padding: 0 27px;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #0674ec;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 20;
    overflow: hidden;
    transition: all 0.7s;
    @include reset-ul-li;

    &__item {
      display: block;
    }

    &__link {
      display: block;
      max-width: 230px;
      padding: 0 10px;
      border-radius: 3px;
      font-size: 15px;
      line-height: 44px;
      color: #54667a;

      &:hover {
        background-color: #0674ec;
        color: #fff;
      }
      &:focus {
        outline-color: #87CEFA;
      }
    }
  }
}

.favorites-product {
  background-color: #eff1f5;
  margin-bottom: 77px;

  &__inner {
    display: flex;
    justify-content: flex-start;
    margin-left: -30px;
    flex-wrap: wrap;
    margin-bottom: 57px;
  }

  .products-card__content {
    max-height: 240px;
  }

  &__pagination {
    text-align: center;
    margin-bottom: 120px;
  }
}

// @import 'media';