.features {
  margin-bottom: 116px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 360px;
    min-height: 408px;
    padding: 35px 30px 49px;
    text-align: center;
    transition: all 1s;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &--best::before {
      content: "";
      width: 113px;
      height: 120px;
      background-image: url(../images/cart/cart1.png);
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &--fully::before {
      content: "";
      width: 113px;
      height: 120px;
      background-image: url(../images/cart/cart2.png);
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &--buy::before {
      content: "";
      width: 113px;
      height: 120px;
      background-image: url(../images/cart/cart3.png);
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    @media (max-width: 992px) {
      margin: 20px;
    }
    @media (max-width: 768px) {
      padding: 15px;
      margin: 10px;
    }
  }

  &__title {
    line-height: 30px;
    margin-top: 180px;
    margin-bottom: 24px;

    @media (max-width: 992px) {
      margin-top: 160px;
    }
    @media (max-width: 768px) {
      margin-top: 35px;
    }
  }

  &__text {
    line-height: 30px;
  }
}