.news {
  padding: 123px 0 94px;
  background-color: #eff1f5;

  @media (max-width: 992px) {
    padding: 70px 0;
  }
  @media (max-width: 576px) {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    margin-bottom: 54px;
  }

  &__img {
    display: block;
    max-height: 230px;
    cursor: pointer;
  }

  &__inner-box {
    display: flex;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  .products-card__item {
    @media (max-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media (max-width: 576px) {
      flex-basis: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  &__content {
    max-height: 160px;
  }
}